.openerp .oe_form .oe_form_sheet.oe_form_sheet_width {
	overflow: hidden;
    max-width: 95%;
}

.openerp .oe_form .oe_form_sheet.oe_form_sheet_width .oe_notebook_page .oe_clear {
    clear: none;
}

.openerp .oe_form .oe_form_sheet.oe_form_sheet_width .oe_notebook_page .oe_form_field.oe_form_field_text textarea {
    margin-top: 10px;
}